<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}"
	close="closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</uib-alert>
<div class="panel panel-default theme-panel">
	<div class="panel-heading">Add User Form</div>
	<div class="panel-content">
		<div style="padding: 15px">
			<form class="form" data-ng-submit=openConfirm() >
				<div class="form-group">
					<label for="usernameField">Enter User Name</label> 
					<input type="text" class="form-control" id="titleField"
						placeholder="Enter Usrename" data-ng-model="addUser.username" required autofocus/>
				</div>
				<div class="form-group">
					<label for="passwordField">Enter Password</label> <input
						type="password" class="form-control" id="passwordField"
						placeholder="Enter Password" data-ng-model="addUser.password" required />
				</div>
				<div class="form-group">
					<label for="e-mailField">Enter E-mail</label> 
					<input type="email" class="form-control" id="e-mailField"
						 placeholder="Enter E-mail"
						data-ng-model="addUser.email" required />
				</div>
				<div>
				<label for="roleField">Choose Role</label>
					<select class="form-control" data-ng-model="addUser.role" required>
							<option value="none">NONE</option>
							<option value="developer">DEVELOPER</option>
							<option value="tester">TESTER</option>
							<option value="fet">FET DEVELOPER</option>
							<option value="db">DATABASE HNADLER</option>
							<option value="etc">ETC</option>
						</select>
				</div>
				<div class="form-group">
					<label for="designationField">Enter Designation</label> 
					<input type="text" class="form-control" id="designationField"
						 placeholder="Enter Designation"
						data-ng-model="addUser.designation" required />
				</div>
				<div class="form-group">
					<label for="technologyField">Enter Technology</label> 
					<input type="text" class="form-control" id="technologyField"
						 placeholder="Enter Technology"
						data-ng-model="addUser.technology" required />
				</div>
				<div class="form-group">
					<label for="projectField">Enter Project</label> 
					<input type="text" class="form-control" id="projectField"
						 placeholder="Enter Project"
						data-ng-model="addUser.projects" required />
				</div>
				
				
				<br>
				<div class="form-group">
				<input type="Submit" class="btn btn-primary" value="Add"> 
					<input type="reset" class="btn btn-default" value="Clear">
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/ng-template" id="newUserConfirmationModal.html">
 	   <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" ng-click="dismissConfirm()">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
           
            <!-- Modal Body -->
            <div class="modal-body">
                <h5>Do you want to add a new project with the following details?</h5>
                <table class="table table-bordered">
                	<tr>
                		<td>Username</td>
                		<td>{{addUser.username}}</td>
                	</tr>
                	<tr>
                		<td>E-mail</td>
                		<td>{{addUser.email}}</td>
                	</tr>
                	<tr>
                		<td>Role</td>
                		<td>{{addUser.role}}</td>
                	</tr> 
                	<tr>
                		<td>Designation</td>
                		<td>{{addUser.designation}}</td>
                	</tr>
					<tr>
                		<td>Technology</td>
                		<td>{{addUser.technology}}</td>
                	</tr>
					<tr>
                		<td>Project</td>
                		<td>{{addUser.project}}</td>
                	</tr>
                </table>
            </div>
           
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-ng-click="add()">yes</button>
                <button type="button" class="btn btn-default" ng-click="dismissConfirm()">No! Wait</button>
            </div>
</script>