<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}"
	close="closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</uib-alert>
<div class="panel panel-default theme-panel">
	<div class="panel-heading">Add Requirement Form</div>
	<div class="panel-content">
		<div style="padding: 15px">
			<form class="form" data-ng-submit=openConfirm() >
				<div class="form-group">
					<label for="titleField">Enter Title</label> 
					<input type="text" class="form-control" id="titleField"
						placeholder="Enter Title" data-ng-model="addReq.title" required autofocus/>
				</div>
				<div class="form-group">
					<label for="descriptionField">Enter Description</label> <input
						type="text" class="form-control" id="descriptionField"
						placeholder="Enter Description" data-ng-model="addReq.description" required />
				</div>
				<div class="form-group">
					<label for="shortTitleField">Enter Short Title</label> 
					<input type="text" class="form-control" id="shortTitleField"
						 placeholder="Enter Short Title"
						data-ng-model="addReq.shortTitle" required />
				</div>
				<div>
				<label for="typeField">Choose Type</label>
					<select class="form-control" data-ng-model="addReq.type" required>
							<option value="none">NONE</option>
							<option value="newFeature">NEW FEATURE</option>
							<option value="enhancement">ENHANCEMENT</option>
							<option value="bug">BUG/ISSUE</option>
							<option value="task">TASK</option>
							<option value="cr">CR</option>
						</select>
				</div>
				<div class="form-group">
					<label for="linksField">Enter Link</label> 
					<input type="text" class="form-control" id="linksField"
						 placeholder="Enter Links"
						data-ng-model="addReq.links" required />
				</div>
				<div>
				<label for="priorityField">Choose Priority</label>
					<select class="form-control" data-ng-model="addReq.priority" required>
							<option value="none">NONE</option>
							<option value="blocked">BLOCKED</option>
							<option value="critical">CRITICAL</option>
							<option value="major">MAJOR</option>
							<option value="minor">MINOR</option>
							<option value="trivial">TRIVIAL</option>
							<option value="tbd">TBD</option>
						</select>
				</div>
				<div>
				<label for="statusField">Choose Status</label>
					<select class="form-control" data-ng-model="addReq.status" required>
							<option value="none">NONE</option>
							<option value="open">OPEN</option>
							<option value="assigned">ASSIGNED</option>
							<option value="implementation">IMPLEMENTATION</option>
							<option value="devTesting">DEV TESTING</option>
							<option value="suspended">SUSPENDED</option>
							<option value="qaTesting">OA TESTING</option>
							<option value="reOpen">RE-OPEN</option>
							<option value="closed">CLOSED</option>
						</select>
				</div>
				<br>
				<div class="form-group">
				<input type="Submit" class="btn btn-primary" value="Add"> 
					<input type="reset" class="btn btn-default" value="Clear">
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/ng-template" id="newRequirementConfirmationModal.html">
 	   <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" ng-click="dismissConfirm()">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
           
            <!-- Modal Body -->
            <div class="modal-body">
                <h5>Do you want to add a new project with the following details?</h5>
                <table class="table table-bordered">
                	<tr>
                		<td>Project Title</td>
                		<td>{{addReq.title}}</td>
                	</tr>
                	<tr>
                		<td>Description</td>
                		<td>{{addReq.description}}</td>
                	</tr>
                	<tr>
                		<td>Short Title</td>
                		<td>{{addReq.shortTitle}}</td>
                	</tr> 
					<tr>
                		<td>Type</td>
                		<td>{{addReq.type}}</td>
                	</tr> 
					<tr>
                		<td>Link</td>
                		<td>{{addReq.links}}</td>
                	</tr> 
					<tr>
                		<td>Status</td>
                		<td>{{addReq.priority}}</td>
                	</tr>
			
                	<tr>
                		<td>Status</td>
                		<td>{{addReq.status}}</td>
                	</tr>
                </table>
            </div>
           
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-ng-click="add()">yes</button>
                <button type="button" class="btn btn-default" ng-click="dismissConfirm()">No! Wait</button>
            </div>
</script>