<div class="center" data-ng-show="{{requirements.size==0}}">
	<div class="bigText">
		<span>Loading...</span>
	</div>
	<div class="progress" style="width: 50%">
		<div class="progress-bar progress-bar-striped active"
			role="progressbar" style="width: 100%"></div>
	</div>
</div>
<div data-ng-show="{{requirements.size!=0}}" class="table-responsive"
	data-ng-init="refresh()">
	<div class="panel panel-default theme-panel">
		<div class="panel-content">
			<div style="padding:6px;">
				<div class="form-inline">
					<div class="input-group">
						<span class="input-group-addon">Filter By</span> 
						<select class="form-control" data-ng-model="filter.filterBy">
							<option value="none">NONE</option>
							<option value="dateRange">DATE RANGE</option>
						</select>
					</div>
					<div class="input-group" data-ng-show="isVisibleForFilter('dateRange')">
						<span class="input-group-addon">After Date</span> 
						<input type="date" class="form-control"  data-ng-model="filter.after">
						<span class="input-group-addon">Before Date</span> 
						<input type="date" class="form-control"  data-ng-model="filter.before">
					</div>
					<!-- <div class="input-group" data-ng-show="isVisibleForFilter('dateOfBirth')">
						<span class="input-group-addon">Before Date</span> 
						<input type="date" class="form-control"  data-ng-model="filter.before">
					</div> -->
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default theme-panel">
		<div class="panel-heading">
			<div style="padding-bottom: 4px;">
				<div
					style="font-size: 1.3em; display: inline-block; margin-top: 5px;">
					Requirement List</div>
				<div class="form-inline pull-right">
					<div class="input-group">
						<span class="input-group-addon">Search By</span> 
						<select
							class="form-control" data-ng-model="search.searchBy">
							<option value="all">ALL</option>
							<option value="id">ID</option>
							<option value="title">TITLE</option>
							<option value="shortTitle">SHORT TITLE</option>
							<option value="type">TYPE</option>
							<option value="links">LINKS</option>
							<option value="priority">PRIORITY</option>
							<option value="status">STATUS</option>
							<!-- <option value="project">PROJECT</option> -->
						</select>
					</div>
					<input type="text" class="form-control" placeholder="search for"
						data-ng-show="isVisible('all')" data-ng-model="search.searchFor">
					<input type="text" class="form-control"
						placeholder="enter id here..." data-ng-show="isVisible('id')"
						data-ng-model="search.searchFor.id"> 
					<input type="text"
						class="form-control" placeholder="enter title here..."
						data-ng-show="isVisible('title')"
						data-ng-model="search.searchFor.title"> 
					<input
						type="text" class="form-control"
						placeholder="enter short title here..."
						data-ng-show="isVisible('shortTitle')"
						data-ng-model="search.searchFor.shortTitle"> 
					<input
						type="text" class="form-control"
						placeholder="enter type here..."
						data-ng-show="isVisible('type')"
						data-ng-model="search.searchFor.type">
					<input
						type="text" class="form-control"
						placeholder="enter links here..."
						data-ng-show="isVisible('links')"
						data-ng-model="search.searchFor.shortTitle">
					<input
						type="text" class="form-control"
						placeholder="enter priority here..."
						data-ng-show="isVisible('priority')"
						data-ng-model="search.searchFor.shortTitle">
					<input
						type="text" class="form-control"
						placeholder="enter status here..."
						data-ng-show="isVisible('status')"
						data-ng-model="search.searchFor.shortTitle">
					<!-- <input
						type="text" class="form-control"
						placeholder="enter project here..."
						data-ng-show="isVisible('project')"
						data-ng-model="search.searchFor.shortTitle"> -->
				</div>
			</div>
		</div>
		<div id="search" class="panel-content scrollable">
			<table class="table table-striped">
				<thead>
					<tr>
						<th data-ng-click="sort('id')">Id<span
							data-ng-class="sortClass('id')"></span></th>
						<th data-ng-click="sort('title')">Requirement Title<span
							data-ng-class="sortClass('title')"></span></th>
						<th data-ng-click="sort('description')">Description<span
							data-ng-class="sortClass('description')"></span></th>
						<th data-ng-click="sort('shortTitle')">Short Tiltle<span
							data-ng-class="sortClass('shortTitle')"></span></th>
						<th data-ng-click="sort('creator')">Creator<span
							data-ng-class="sortClass('creator')"></span></th>
						<th data-ng-click="sort('contributor')">Contributor<span
							data-ng-class="sortClass('contributor')"></span></th>
						<th data-ng-click="sort('createdOn')">Created On<span
							data-ng-class="sortClass('createdOn')"></span></th>
						<th data-ng-click="sort('lastModifiefOn')">Last Modified On<span
							data-ng-class="sortClass('lastModifiefOn')"></span></th>
						<th data-ng-click="sort('type')">Type<span
							data-ng-class="sortClass('type')"></span></th>
						<th data-ng-click="sort('constraints')">Constraints<span
							data-ng-class="sortClass('constraints')"></span></th>
						<th data-ng-click="sort('links')">Links<span
							data-ng-class="sortClass('links')"></span></th>
						<th data-ng-click="sort('elaborations')">Elaborations<span
							data-ng-class="sortClass('elaborations')"></span></th>
						<th data-ng-click="sort('parent')">Parent<span
							data-ng-class="sortClass('parent')"></span></th>
						<th data-ng-click="sort('priority')">Priority<span
							data-ng-class="sortClass('priority')"></span></th>
						<th data-ng-click="sort('status')">Status<span
							data-ng-class="sortClass('status')"></span></th>
						<th data-ng-click="sort('files')">Files<span
							data-ng-class="sortClass('files')"></span></th>
						<th data-ng-click="sort('project')">Project<span
							data-ng-class="sortClass('project')"></span></th>
						<th>Options</th>
					</tr>
				</thead>
				<tbody>
					<tr
						data-ng-repeat="requirement in requirements | filter:search.searchFor | orderBy:sortColumn:desc">
						<td>{{requirement.id}}</td>
						<td>{{requirement.title}}</td>
						<td>{{requirement.description}}</td>
						<td>{{requirement.shortTitle}}</td>
						<td>{{requirement.creator}}</td>
						<td>{{requirement.contributor}}</td>
						<td>{{requirement.createdOn}}</td>
						<td>{{requirement.lastModifiedOn}}</td>
						<td>{{requirement.type}}</td>
						<td>{{requirement.constraints}}</td>
						<td>{{requirement.links}}</td>
						<td>{{requirement.elaborations}}</td>
						<td>{{requirement.parent}}</td>
						<td>{{requirement.priority}}</td>
						<td>{{requirement.status}}</td>
						<td>{{requirement.files}}</td>
						<td>{{requirement.project}}</td>
						
						<td>
							<button class="btn btn-sm btn-danger" data-ng-click="removeRequirement(requirement)"> Remove</button>
							<a href="#/updateRequirement" class="btn btn-sm btn-warning" >Update</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

