<div class="panel panel-default theme-panel">
	<div class="panel-heading">Update Requirement Form</div>
	<div class="panel-content">
		<div style="padding: 15px">
			<form class="form" data-ng-submit=openConfirm() >
				<div class="form-group">
					<label for="titleField">Enter New Title</label> 
					<input type="text" class="form-control" id="titleField"
						placeholder="Enter New Project Title" data-ng-model="updateRequirement.title" required autofocus/>
				</div>
				<div class="form-group">
					<label for="descriptionField">Enter New Description</label> <input
						type="text" class="form-control" id="descriptionField"
						placeholder="Enter New Description" data-ng-model="updateRequirement.description" required />
				</div>
				<div class="form-group">
					<label for="shortTitleField">Enter New Short Title</label> 
					<input type="text" class="form-control" id="shortTitleField"
						 placeholder="Enter New Short Title"
						data-ng-model="updateRequirement.shortTitle" required />
				</div>
				
				<div>
				<label for="typeField">Choose New Type</label>
					<select class="form-control" data-ng-model="updateRequirement.type" required>
							<option value="none">NONE</option>
							<option value="newFeature">NEW FEATURE</option>
							<option value="enhancement">ENHANCEMENT</option>
							<option value="bug">BUG/ISSUE</option>
							<option value="task">TASK</option>
							<option value="cr">CR</option>
						</select>
				</div>
				<div class="form-group">
					<label for="linksField">Enter New Link</label> 
					<input type="text" class="form-control" id="linksField"
						 placeholder="Enter Links"
						data-ng-model="updateRequirement.links" required />
				</div>
				<div>
				<label for="priorityField">Choose New Priority</label>
					<select class="form-control" data-ng-model="updateRequirement.priority" required>
							<option value="none">NONE</option>
							<option value="blocked">BLOCKED</option>
							<option value="critical">CRITICAL</option>
							<option value="major">MAJOR</option>
							<option value="minor">MINOR</option>
							<option value="trivial">TRIVIAL</option>
							<option value="tbd">TBD</option>
						</select>
				</div>
				<div>
				<label for="statusField">Choose New Status</label>
					<select class="form-control" data-ng-model="updateRequirement.status" required>
							<option value="none">NONE</option>
							<option value="open">OPEN</option>
							<option value="assigned">ASSIGNED</option>
							<option value="implementation">IMPLEMENTATION</option>
							<option value="devTesting">DEV TESTING</option>
							<option value="suspended">SUSPENDED</option>
							<option value="qaTesting">OA TESTING</option>
							<option value="reOpen">RE-OPEN</option>
							<option value="closed">CLOSED</option>
						</select>
				</div>
				<br>
				<div class="form-group">
				<input type="Submit" class="btn btn-primary" value="Update"> 
					<input type="reset" class="btn btn-default" value="Clear">
				</div>
			</form>
		</div>
	</div>
</div>